/* #scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 1rem;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 0 1rem;
 min-width: 33%;
  z-index: 100;

}




figure {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #8a8a8a;
  z-index: 0;
} */

#scrolly {
  position: relative;
  /* background-color: #f3f3f3; */
  /* padding: 1rem; */
}

article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
  z-index: 0;
}

@media only screen and (min-width: 600px) {
  #scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* background-color: #f3f3f3; */
    /* padding: 1rem; */
  }

  #scrolly > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  article {
    position: relative;
    padding: 0 1rem;
   min-width: 33%;
    z-index: 100;

  }




  figure {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* background-color: #8a8a8a; */
    z-index: 0;
  }

}



figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  margin: 0 auto 2rem auto;
  /* background-color: #3b3b3b; */
  /* color: #fff; */
  opacity: 0;
animation: fadeOut ease 1s;
-webkit-animation: fadeOut ease 1s;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  opacity: 1;
   animation: fadeIn ease 1s;
   -webkit-animation: fadeIn ease 1s;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}




.scroll-text{
  font-size: 14px !important;
  background-color: rgba(0, 0,0, .25)

}

#sticky img {

  /* width: 100%;
  text-align: center;
  padding: 0;
  position: absolute;
  z-index: 1000000;
opacity: 0; */
position: absolute;
top: 0;
left: 0;
bottom: auto;
width: 100%;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 0;

}



#sticky .baseimg {

  /* width: 100%;
  text-align: center;
  padding: 0;
  position: absolute;
opacity: 1; */
position: absolute;
top: 0;
left: 0;
bottom: auto;
width: 100%;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}


@keyframes fadeIn {
0% {opacity:0;}
20%{opacity:0.2;}
40%{opacity:0.4;}
60%{opacity:0.6;}
80%{opacity:0.8;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
20%{opacity:0.2;}
40%{opacity:0.4;}
60%{opacity:0.6;}
80%{opacity:0.8;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
20%{opacity:0.2;}
40%{opacity:0.4;}
60%{opacity:0.6;}
80%{opacity:0.8;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
120%{opacity:0.2;}
40%{opacity:0.4;}
60%{opacity:0.6;}
80%{opacity:0.8;}
00% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
20%{opacity:0.2;}
40%{opacity:0.4;}
60%{opacity:0.6;}
80%{opacity:0.8;}
100% {opacity:1;}
}

@keyframes fadeOut {
0% {opacity:1;}
20%{opacity:0.8;}
40%{opacity:0.6;}
60%{opacity:0.4;}
80%{opacity:0.2;}
100% {opacity:0;}
}
