#scroll {
  position: relative;
}

.scroll__text {
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
  width: 33%;
}

.step {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2rem auto 4rem auto;
  border: 1px solid #333;
}

.step.is-active {
  background-color: lightgoldenrodyellow;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}



main#container {
  position: relative;
  /* background-image: url("test.gif"); */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

#sticky {
  position: -webkit-sticky;
  position: sticky !important;
  top: 25%;
}
