html {
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-sereif !important;
}

.card-header {
  text-align: center;
}

.container {
  /* text-align: left;
    margin: 0; */
  /* max-width: 700px; */

  height:auto;
  background-color: #E0E0E0;
  position: relative;
}



.graphics {
  /* background-color: pink; */
  /* overflow: hidden; */
  max-width: 100%;
    height:auto;
/* min-height: 500px; */
    /* background-image: url('img/body.jpg'); */
}

.layers,
.bkg_img{

  position: absolute;
  top:0px;
  left:0px;
padding-left: 15px;
padding-right: 15px;
  overflow: hidden;
  max-width: 100%;
height:auto;
  /* min-height:100%; */
  display: block;
}

.base_img{

  top: 0;
  left: 0;
  overflow: hidden;
  max-width: 100%;
height:auto;
  display: block;
}
/* .graphics::before,
.graphics::after{
     content: "";
     display: block;
     clear: both;
} */



/* .accordion::before,
.accordion::after,{

   content: "";
   display: block;
   clear: both;

} */
.card {
  z-index: 50;
}

.btn-link {
  width: 100%;
}

.brain_img {
  opacity: 1;
}

.eyes_img,
.nose_img,
.lungs_img,
.heart_img,
.liver_img,
.kidneys_img,
.gut_img {
  opacity: 0;
}

.topLayer_img {
  opacity: 1 !important;
  z-index: 20000000;
}
