html {
 font-family:'Roboto Condensed','Helvetica Neue' ,Helvetica,Arial,sans-sereif !important;

}

.card-header{
  text-align: center;
}
.container{
  max-width: 700px;
 background-color: #E0E0E0;
}

.graphics {
  /* background-color: pink; */
  /* overflow: hidden; */
  max-width: 100%;
  min-height: 500px;
  position: relative;
}
.graphic {
  position: absolute;
  top: 0%;
  left: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  display: block;
}
  .card{
     z-index: 1000000;
    }
.btn-link {
    width: 100%;}


.brain_img{
   opacity: 1;
}
.eyes_img,
.nose_img,
.lungs_img,
.heart_img,
.liver_img,
.kidneys_img,
.gut_img
 {
  opacity: 0;
}
.topLayer_img{
  opacity: 1;
  z-index: 10000;
}
